In [1]:
import numpy as np
import pandas as pd

# STEPS

Resampling

Log transformation

Simple Lags

Diff based lags

In [11]:
df=pd.read_excel('dell_data.xlsx',
              skiprows=2,index_col='Date')
df.index=pd.to_datetime(df.index)
df.columns=[i.lower().replace('&','_') for i in df.columns]
df.head(3)#data Price of dell smapled at single day


#Data gatherer, collceted from request based apis
#Index set as datecolumn

             dell   s_p500
Date
2012-05-23  12.49  1318.86
2012-05-24  12.45  1320.68
2012-05-25  12.46  1317.82

In [70]:
# I will define trsanformers for each function
# Resampling 
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline


class resampler(BaseEstimator,TransformerMixin):
  def __init__(self,freq,cols_tbu=None):
    self.cols_tbu=cols_tbu
    self.freq=freq
  
  def fit(self,dt,y=None):
    return
  
  def transform(self,dt,y=None):
    assert(type(dt) in [type(pd.DataFrame()), type(pd.Series())])
    assert(any(((dt.reset_index()).dtypes.astype(str)).str.contains('datetime')))

    dt=dt.resample(rule=self.freq).last()
    dt.ffill(inplace=True)
    return dt

temp=resampler(freq='5D')
temp.transform(df).head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

             dell   s_p500
Date
2012-05-23  12.46  1317.82
2012-05-28  12.07  1278.04
2012-06-02  12.22  1315.13

In [88]:
class log_transformer(BaseEstimator,TransformerMixin):
  dt_fn={
      'e':np.log,
      'e1':np.log10
  }

  def __init__(self,base='e',cols_tbu=None):
    self.cols_tbu=cols_tbu
    self.fn=self.dt_fn[base]
  
  def fit(self,dt,y=None):
    return
  
  def transform(self,dt,y=None):
    dt=self.fn(dt)

    return dt

temp=log_transformer(base='e1')
temp.transform(df).head(3)

                dell    s_p500
Date
2012-05-23  1.096562  3.120199
2012-05-24  1.095169  3.120798
2012-05-25  1.095518  3.119856

In [112]:
class lag_transformer(BaseEstimator,TransformerMixin):

  def __init__(self,lt_lags,cols_tbu=None):
    self.cols_tbu=cols_tbu
    self.lt_lags=list(set([0]+lt_lags))
  
  def fit(self,dt,y=None):
    return
  
  def transform(self,dt,y=None):
    parent_columns=dt.columns
    dt_lagged=pd.concat([dt.shift(lag).dropna().rename(columns={i: i+'_lagged_'+str(lag) for i in parent_columns
                                                      })
                       for lag in self.lt_lags],axis=1).dropna()
    return dt_lagged

temp=lag_transformer(lt_lags=[1,2,5])
temp.transform(df).head(3)

,dell_lagged_0,s_p500_lagged_0,dell_lagged_1,s_p500_lagged_1,dell_lagged_2,s_p500_lagged_2,dell_lagged_5,s_p500_lagged_5
Date,,,,,,,,
2012-05-31,12.33,1310.33,12.56,1313.32,12.66,1332.42,12.49,1318.86
2012-06-01,12.07,1278.04,12.33,1310.33,12.56,1313.32,12.45,1320.68
2012-06-04,12.00,1278.18,12.07,1278.04,12.33,1310.33,12.46,1317.82

In [114]:
pip=Pipeline([
              ('resample',resampler('3D')),
              ('log_transformer',log_transformer(base='e1')),
              ('lag_trasformer',lag_transformer(lt_lags=[1,2,5]))
])

pip.transform(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()

,dell_lagged_0,s_p500_lagged_0,dell_lagged_1,s_p500_lagged_1,dell_lagged_2,s_p500_lagged_2,dell_lagged_5,s_p500_lagged_5
Date,,,,,,,,
2012-06-07,1.083503,3.122432,1.087071,3.118969,1.081707,3.106544,1.095518,3.119856
2012-06-10,1.078094,3.121947,1.083503,3.122432,1.087071,3.118969,1.095518,3.119856
2012-06-13,1.089905,3.128024,1.078094,3.121947,1.083503,3.122432,1.090963,3.117381
2012-06-16,1.094122,3.128651,1.089905,3.128024,1.078094,3.121947,1.081707,3.106544
2012-06-19,1.079181,3.122383,1.094122,3.128651,1.089905,3.128024,1.087071,3.118969
2012-06-22,1.086360,3.125488,1.079181,3.122383,1.094122,3.128651,1.083503,3.122432
2012-06-25,1.090963,3.124455,1.086360,3.125488,1.079181,3.122383,1.078094,3.121947
2012-06-28,1.097257,3.134228,1.090963,3.124455,1.086360,3.125488,1.089905,3.128024
2012-07-01,1.103119,3.137993,1.097257,3.134228,1.090963,3.124455,1.094122,3.128651
2012-07-04,1.098990,3.131837,1.103119,3.137993,1.097257,3.134228,1.079181,3.122383
2012-07-07,1.088845,3.131124,1.098990,3.131837,1.103119,3.137993,1.086360,3.125488
2012-07-10,1.083861,3.125403,1.088845,3.131124,1.098990,3.131837,1.090963,3.124455
2012-07-13,1.090611,3.132509,1.083861,3.125403,1.088845,3.131124,1.097257,3.134228
2012-07-16,1.081707,3.137601,1.090611,3.132509,1.083861,3.125403,1.103119,3.137993
2012-07-19,1.079543,3.134388,1.081707,3.137601,1.090611,3.132509,1.098990,3.131837
2012-07-22,1.063333,3.126557,1.079543,3.134388,1.081707,3.137601,1.088845,3.131124
2012-07-25,1.080266,3.141754,1.063333,3.126557,1.079543,3.134388,1.083861,3.125403
2012-07-28,1.073718,3.141544,1.080266,3.141754,1.063333,3.126557,1.090611,3.132509
2012-07-31,1.059563,3.135133,1.073718,3.141544,1.080266,3.141754,1.081707,3.137601
2012-08-03,1.068186,3.143324,1.059563,3.135133,1.073718,3.141544,1.079543,3.134388
2012-08-06,1.089905,3.146816,1.068186,3.143324,1.059563,3.135133,1.063333,3.126557
2012-08-09,1.093772,3.147945,1.089905,3.146816,1.068186,3.143324,1.080266,3.141754
2012-08-12,1.086004,3.147345,1.093772,3.147945,1.089905,3.146816,1.073718,3.141544
2012-08-15,1.087071,3.151725,1.086004,3.147345,1.093772,3.147945,1.059563,3.135133
2012-08-18,1.098990,3.151716,1.087071,3.151725,1.086004,3.147345,1.068186,3.143324
2012-08-21,1.067443,3.150293,1.098990,3.151716,1.087071,3.151725,1.089905,3.146816

# ROUGH WORK

In [71]:
type(pd.DataFrame()) in [type(pd.DataFrame()),type(pd.DataFrame())]

True

In [53]:
type(df.index)
(df.reset_index()).dtypes
# (df.index).dtype

# (df.reset_index()).selct_dtypes

(df.reset_index()).select_dtypes(include=['datetime64'])
# 'datetime64' in 
any(((df.reset_index()).dtypes.astype(str)).str.contains('datetime'))

True

In [67]:
df.resample('2D').last().ffill()
pd.DataFrame.resample?

In [89]:
tt=np.log10
tt(1e3)

3.0

In [111]:
lt_lag=[1,2,5]
lt_lag=[0]+lt_lag
pd.concat([df.shift(lag).dropna().rename(columns={i: i+'_lagged_'+str(lag) for i in df.columns
            })
 for lag in lt_lag],axis=1).dropna()

,dell_lagged_0,s_p500_lagged_0,dell_lagged_1,s_p500_lagged_1,dell_lagged_2,s_p500_lagged_2,dell_lagged_5,s_p500_lagged_5
Date,,,,,,,,
2012-05-31,12.33,1310.33,12.56,1313.32,12.66,1332.42,12.49,1318.86
2012-06-01,12.07,1278.04,12.33,1310.33,12.56,1313.32,12.45,1320.68
2012-06-04,12.00,1278.18,12.07,1278.04,12.33,1310.33,12.46,1317.82
2012-06-05,12.16,1285.50,12.00,1278.18,12.07,1278.04,12.66,1332.42
2012-06-06,12.22,1315.13,12.16,1285.50,12.00,1278.18,12.56,1313.32
2012-06-07,12.13,1314.99,12.22,1315.13,12.16,1285.50,12.33,1310.33
2012-06-08,12.12,1325.66,12.13,1314.99,12.22,1315.13,12.07,1278.04
2012-06-11,11.86,1308.93,12.12,1325.66,12.13,1314.99,12.00,1278.18
2012-06-12,11.97,1324.18,11.86,1308.93,12.12,1325.66,12.16,1285.50
2012-06-13,12.28,1314.88,11.97,1324.18,11.86,1308.93,12.22,1315.13
2012-06-14,12.34,1329.10,12.28,1314.88,11.97,1324.18,12.13,1314.99
2012-06-15,12.30,1342.84,12.34,1329.10,12.28,1314.88,12.12,1325.66
2012-06-18,12.42,1344.78,12.30,1342.84,12.34,1329.10,11.86,1308.93
2012-06-19,12.18,1357.98,12.42,1344.78,12.30,1342.84,11.97,1324.18
2012-06-20,12.30,1355.69,12.18,1357.98,12.42,1344.78,12.28,1314.88
2012-06-21,12.00,1325.51,12.30,1355.69,12.18,1357.98,12.34,1329.10
2012-06-22,12.20,1335.02,12.00,1325.51,12.30,1355.69,12.30,1342.84
2012-06-25,11.95,1313.72,12.20,1335.02,12.00,1325.51,12.42,1344.78
2012-06-26,11.93,1319.99,11.95,1313.72,12.20,1335.02,12.18,1357.98
2012-06-27,12.33,1331.85,11.93,1319.99,11.95,1313.72,12.30,1355.69
2012-06-28,11.95,1329.04,12.33,1331.85,11.93,1319.99,12.00,1325.51
2012-06-29,12.51,1362.16,11.95,1329.04,12.33,1331.85,12.20,1335.02
2012-07-02,12.39,1365.51,12.51,1362.16,11.95,1329.04,11.95,1313.72
2012-07-03,12.68,1374.02,12.39,1365.51,12.51,1362.16,11.93,1319.99
2012-07-05,12.63,1367.58,12.68,1374.02,12.39,1365.51,12.33,1331.85
2012-07-06,12.56,1354.68,12.63,1367.58,12.68,1374.02,11.95,1329.04
2012-07-09,12.27,1352.46,12.56,1354.68,12.63,1367.58,12.51,1362.16
2012-07-10,12.30,1341.47,12.27,1352.46,12.56,1354.68,12.39,1365.51
2012-07-11,12.28,1341.45,12.30,1341.47,12.27,1352.46,12.68,1374.02
2012-07-12,12.13,1334.76,12.28,1341.45,12.30,1341.47,12.63,1367.58
2012-07-13,12.32,1356.78,12.13,1334.76,12.28,1341.45,12.56,1354.68
2012-07-16,12.19,1353.64,12.32,1356.78,12.13,1334.76,12.27,1352.46
2012-07-17,12.12,1363.67,12.19,1353.64,12.32,1356.78,12.30,1341.47
2012-07-18,12.07,1372.78,12.12,1363.67,12.19,1353.64,12.28,1341.45
2012-07-19,12.23,1376.51,12.07,1372.78,12.12,1363.67,12.13,1334.76
2012-07-20,12.01,1362.66,12.23,1376.51,12.07,1372.78,12.32,1356.78
2012-07-23,11.80,1350.52,12.01,1362.66,12.23,1376.51,12.19,1353.64
2012-07-24,11.57,1338.31,11.80,1350.52,12.01,1362.66,12.12,1363.67
2012-07-25,11.49,1337.89,11.57,1338.31,11.80,1350.52,12.07,1372.78
2012-07-26,11.83,1360.02,11.49,1337.89,11.57,1338.31,12.23,1376.51
2012-07-27,12.03,1385.97,11.83,1360.02,11.49,1337.89,12.01,1362.66
2012-07-30,11.85,1385.30,12.03,1385.97,11.83,1360.02,11.80,1350.52
2012-07-31,11.88,1379.32,11.85,1385.30,12.03,1385.97,11.57,1338.31
2012-08-01,11.79,1375.32,11.88,1379.32,11.85,1385.30,11.49,1337.89
2012-08-02,11.47,1365.00,11.79,1375.32,11.88,1379.32,11.83,1360.02
2012-08-03,11.70,1390.99,11.47,1365.00,11.79,1375.32,12.03,1385.97
2012-08-06,11.80,1394.23,11.70,1390.99,11.47,1365.00,11.85,1385.30
2012-08-07,12.15,1401.35,11.80,1394.23,11.70,1390.99,11.88,1379.32
2012-08-08,12.30,1402.22,12.15,1401.35,11.80,1394.23,11.79,1375.32
2012-08-09,12.39,1402.80,12.30,1402.22,12.15,1401.35,11.47,1365.00
2012-08-10,12.41,1405.87,12.39,1402.80,12.30,1402.22,11.70,1390.99
2012-08-13,12.33,1404.11,12.41,1405.87,12.39,1402.80,11.80,1394.23
2012-08-14,12.19,1403.93,12.33,1404.11,12.41,1405.87,12.15,1401.35
2012-08-15,12.21,1405.53,12.19,1403.93,12.33,1404.11,12.30,1402.22
2012-08-16,12.23,1415.51,12.21,1405.53,12.19,1403.93,12.39,1402.80
2012-08-17,12.22,1418.16,12.23,1415.51,12.21,1405.53,12.41,1405.87
2012-08-20,12.56,1418.13,12.22,1418.16,12.23,1415.51,12.33,1404.11
2012-08-21,12.34,1413.17,12.56,1418.13,12.22,1418.16,12.19,1403.93
2012-08-22,11.68,1413.49,12.34,1413.17,12.56,1418.13,12.21,1405.53

# Reference

https://stackoverflow.com/questions/9542738/python-find-in-list